<!-- The main page of playlister -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Site Generator!</title>
  </head>
  <body>
    <h1>Our Pages</h1>
    <a href="/artists/index.html">
      Artists - <%= Artist.all.count %>
    </a>
    <a href="/songs/index.html">
      Songs - <%= Song.all.count %>
    </a>
    <a href="/genres/index.html">
      Genres - <%=Genre.all.count%>
    </a>
  </body>
</html>